__pycache__/
*.py[cod]
*.so
*.c
*.out
*.exe
test_stdlib
test_class
test_dict
test_dict_iter
test_newlib
test_advanced
test_compile
test_convert
test_files
test_final
test_for
test_functions
test_functions_c
test_import
test_persian_digits
test_try
test_try2
add_stdlib.py
finalize.py
fix_*.py
insert_helpers*.py
patch_*.py
gen_compiler.py
*.pyn
test_dict_iter
farsiscript
*.c
*.out
*.exe
test_*
examples/*.c
__pycache__/
